.mini-preloader {
  /* fill: none; */
  /* stroke-width: 6px; */
  /* stroke-linecap: round; */
  /* stroke-linejoin: round; */
  animation: spin 1s infinite linear;
  /* transform: rotate(360deg); */
  transform-origin: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  65% {
    transform: rotate(180deg);
  }

  80% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
